<!DOCTYPE html>
<html>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <title>CTBC</title>
  <link rel="stylesheet" href="../../../../../inc/bundle_lib.css">
  <link rel="stylesheet" href="../../../../../inc/bundle_base.css">
  <link rel="stylesheet" href="../../../../../ctbc_css/ctbc.css">
  <link rel="stylesheet" href="../../../../../ctbc_css/virtualKeyboard.css">
  <link rel="stylesheet" href="../../../../../index.css">
  <script type="text/javascript" src="../../../../../inc/bundle_lib.js"></script>
  <script type="text/javascript" src="../../../../../inc/bundle_base.js"></script>
  <style>
    
  </style>
</head>

<!-- import { HeaderComponent } from 'app/mb/header/header.component' -->
<header class="">
    <div class="vi-page-header-normal">
        <div class="vi-page-header-lt">
            <button class="vi-btn" ontouchstart="">
                <span class="vi-icon vi-icon-base icon-page-back"></span>
            </button>
        </div>
        <div class="vi-page-header-ct">
            <h1 class="vi-page-title">數位帳戶進度查詢</h1>
        </div>
        <!-- <div class="vi-page-header-rt">
            <span class="vi-icon vi-icon-base vi-modal-close"></span>
        </div> -->
    </div>
</header>

<body class="body-wrap scroll vi-bg-mint">
    <div class="main_container">
        <div class="vi-container pad_top12">
            <ng-container>
                <div class="vi-txt-title vi-txt-b900 mb16 pad_top12">身份確認</div>
                <div class="vi-card vi-account">
                    <div class="vi-card-header flex-wrap pad_btm8">
                        <div class="vi-line-title">請輸入以下資訊</div>
                    </div>
                    <div class="vi-card-body">
                        <div class="vi-form-group" [ngClass]="{'has-error': formClazz.formErrors?.custId}">
                            <div class="vi-input-group">
                                <span class="title">身分證字號</span>
                                <input type="text" maxlength="10" formControlName="custId">
                            </div>
                            <div class="vi-form-error">form validate error message</div>
                        </div>
                        <div class="vi-form-group" [ngClass]="{'has-error': formClazz.formErrors?.birthday}">
                            <div class="vi-input-group">
                                <span class="title">出生年月日</span>
                                <input formControlName="birthday" type="tel" placeholder="YYYY/MM/DD" cleave [cleaveOption]="birthdayCleave" (onValueChange)="setBirthday($event)">
                            </div>
                        </div>
                        <div class="vi-form-group" [ngClass]="{'has-error': formClazz.formErrors?.mobile}">
                            <div class="vi-input-group">
                                <span class="title">手機號碼</span>
                                <input type="tel" maxlength="10" formControlName="mobile">
                            </div>
                        </div>

                        <!-- 「個人資料運用告知聲明書」 -->
                        <ng-container *ngIf="agree1">
                            <label class="vi-checkbox mt8" [ngClass]="{'has-error is-error': formClazz.formErrors?.statement}">
                                <input type="checkbox" formControlName="statement">
                                <span class="vi-checkbox-mark"></span>
                                <span class="vi-checkbox-txt">
                                    <span >本人已詳閱</span><a class="vi-txt-body-bold vi-txt-g500 ml5">個人資料運用告知聲明書</a>，<span>並同意其規定</span>
                                </span>
                            </label>
                        </ng-container>

                        <!-- 「個人網路銀行暨行動銀行服務條款」 -->
                        <ng-container *ngIf="agree2">
                            <label class="vi-checkbox mt8" [ngClass]="{'has-error is-error': formClazz.formErrors?.termsOfService}">
                                <input type="checkbox" formControlName="termsOfService">
                                <span class="vi-checkbox-mark"></span>
                                <span class="vi-checkbox-txt">
                                    <span >本人已詳閱</span><a class="vi-txt-body-bold vi-txt-g500 ml5">個人網路銀行暨行動銀行服務條款</a>，<span>並同意其規定</span>
                                </span>
                            </label>
                        </ng-container>

                        <div class="mb24"></div>

                        <!-- 下一步 -->
                        <div class="vi-btn-group mb16">
                            <button class="vi-btn vi-btn-primary">下一步</button>
                        </div>
                    </div>
                </div>

                <!-- 備註 Component -->
                <!-- <memo-remarks [format]="1" [viStyle]="true" [key]="'TWRBMTransferTX001_inputmemo'"></memo-remarks> -->
                <div class="vi-remark">
                    <div class="forAEM">
                        <p>備註：</p>
                        <ol>
                            <li>這是一段備註使用規範，標題請用 “備註”，若有法規問題則可用 “注意事項”。</li>
                            <li>斷行請搭配數字，並對齊數字後面，字體大小固定為 15px，文字顏色一律使用 #36444D，且為一般字體不加粗不調細也不能加底線。</li>
                            <li>若需加連結，文字顏色使用 #009891，文字粗體。</li>
                        </ol>
                    </div>
                </div>
            </ng-container>
      </div>
      <!-- END container -->
    </div>
    <!-- main_container -->
  
  </div>
  <!-- body-wrap -->  

</html>